@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Three Four One Nine Avenue<br />
        Richmond, London E15 7YR<br />
        <abbr title="Phone">P:555-567-568</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@mangaonlineshop.okudopato.co.uk">Support@mangaonlineshop.okudopato.co.uk</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@mangaonlineshop.okudopato.co.uk">Marketing@mangaonlineshop.okudopato.co.uk</a>
    </address>
</div>