body {
    padding-top: 90px;
    padding-bottom: 20px;
    background-image: url('../Images/backgrounds/Best Hero Boku no hero academia Wallpaper HD For Desktop.jpg');
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
span.field-validation-error {
  color: red;
  font-weight: bold;
}
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 20px;
}
.voffset4 {
  margin-top: 40px;
}
.voffset5 {
  margin-top: 80px;
}
/* Bootstrap Overrides */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.popover {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-warning{
    background: red; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
   background: linear-gradient(red, yellow); /* Standard syntax */
}

.btn-success{
   background: #23ff00; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(green, #23ff00); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(green, #23ff00); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(green, #23ff00); /* For Firefox 3.6 to 15 */
   background: linear-gradient(green, #23ff00); /* Standard syntax */
}
.navbar-inverse {
   

  border-color: #676565;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .notifications {
  position: relative;
}
.navbar-inverse .notifications .badge {
  position: absolute;
  top: 8px;
  right: -1px;
  background: #676565;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(108, 104, 104, 0.55);
}
.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-text navbar-right{
    color:#fff;
}

.navbar-brand {
  font-weight: 700;
}
body {
  font-size: 17px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  font-size: 17px;
  height: 44px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  transition: none;
  -webkit-transition: none;
}
.form-control:focus {
  box-shadow: none;
}

.btn {
    -moz-appearance: none;
    -moz-user-select: none;
    border: 1px solid rgba(108, 104, 104, 0.55); 
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 7px 12px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}


.btn-sm{
    font-size: 12px;
    line-height:20px;
}

.btn-primary{
    background-image: linear-gradient(#7705fd, #7e20ed);
}



.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

img {
    vertical-align: middle;
    border: 0;
}

    
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-heading {
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    color: #555;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px 10px;
}


*::-moz-placeholder{
    color:#999;
}

.form-group .form-control.user-profile-bio-field {
    width: 440px;
    height: 5.35em;
    min-height: 0;
}
.site-footer-links li {
    line-height: 16px;
}

.site-footer-links {
    list-style: outside none none;
}
.site-footer {
    color: #767676;
    font-size: 12px;
    line-height: 1.5;
}

.media-left{
  height:50px; 
   width:50px; 
}

.img-circle{
    border:5px solid gainsboro;
}

.panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*user agent stylesheet*/
div {
    display: block;
}
/*Inherited from body#bootstrap-themes.swag-line.template-index*/
body {
    color: #293a46;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.6;
}




p {

}

.m-b {
    margin-bottom: 15px !important;
}

p {
    margin:auto;
    text-align:center;
    padding:14px;
}

.jumbotron {
    color:white;
    background-color: rgba(126, 32, 237, 0.85);
}
.form-horizontal{
    color:white;
}
.white-text{
    color:white;
}

@media (min-width: 768px) 